@mixin flex($flex:flex,$position-x:center,$position-y:center) {
    display: $flex;
    justify-content: $position-x;
    align-items: $position-y;
}
@mixin margin-padding($top,$right,$bottom,$left,$margin:true) {
    @if($margin){
        margin: $top $right $bottom $left;
    }@else{
        padding: $top $right $bottom $left;
    }
}
@mixin section-divider($flex,$flex-basis,$max-width) {
    display: $flex;
    flex-basis: $flex-basis;
    max-width: $max-width;
    // flex-direction: $flex-dir;
}
@mixin border-radius($top-left,$top-right,$mottom-right,$bottom-left) {
    border-radius: $top-left $top-right $mottom-right $bottom-left;
}
@mixin border($top,$right,$bottom,$left) {
    border:$top $right $bottom $left;
}
@mixin positons($relative,$absolute:false) {
    @if($relative){
        position: $relative;
    }@else{
        position: $absolute;
    }
}

@mixin direction($flex,$column) {
  display: $flex;
  flex-direction: $column;  
}

